<%- include("./partials/header") -%>

<center>
<h1>HOME</h1>
</center>





<%     posts.forEach(function(post) { %>


  <h2><%= post.title %> </h2>
  <p><%=  post.post %>
  <a href='/posts/<%=post.title%>' >Read More</a>
  
  </p> 

<%  }) %>











<%- include("./partials/footer") -%>